* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: black;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: rgb(138, 179, 241);
}
.container-content {
  margin-top: 5%;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  background-color: rgb(21, 88, 188);
}

input {
  font-size: 15px;
  margin-left: 15px;
  border: none;
  padding: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
}
.calculate {
  margin-right: 15px;
  font-size: 15px;
  border: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  cursor: pointer;  

}
.calculate:hover {
  margin-right: 15px;
  font-size: 15px;
  border: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  -webkit-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 3px 32px -3px rgba(0, 0, 0, 0.59);
  cursor: pointer; 
  color: rgb(234, 76, 76); 
  font-size: 16px;
  
}
.result {
  margin: 15px;
  text-align: center;
  color: white;
  
}

